@charset "utf-8";
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #000;
	background-color: #E1F2FF;
}
.map {
	width: 100%;
	border: 5px solid #FFF;
	box-shadow: 0 0 25px 1px rgba(0,0,0,0.3);
}
button {
	color: #000;
	background-color: #FFF;
	text-align: center;
	width: 100%;
	display: block;
	border: 2px solid #4285F4;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
    transition: all 0.5s;
}
button:active {
  -webkit-transform: scale3d(0.9, 0.9, 1);
  transition: all 0.5s;
}